/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
    margin-top: 20px;
}

.navbar-brand {
    font-size: 28px;
}

.affix {
    top: 10px;
    left: 45%;
}

.affix-top {
    top: 164px;
    left: 45%;
    position: absolute;
}

.graph {
    background-color: rgb(249, 249, 249);
}

/* Mobile version */
@media (max-width: 768px){

    .navbar-brand {
        display: block;
        float: center;
        text-align: center;
        margin: 0;
        padding: 0;
        height: auto;
    }

    .navbar, .center-mobile, .pagination {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .pagination {
        margin-bottom: 10px;
    }

    .form-control {
        margin-bottom: 5px;
    }

	.btn-group {
        width: 100%;
        margin-bottom: 3px;
	}

    .btn-success {
        width: 33.33%;
        width: calc(100% / 3);
    }

	.btn-primary {
        width: 100%;
	}

    .affix {
        position: relative;
        top: 0;
        left: 0;
    }

    .affix-top {
        position: relative;
        left: 0;
        top: 0;
    }

}


.chart {
    height: 400px;  /* If changing height change also in directives.js h */
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}