<!DOCTYPE html>
<html ng-app="forks">
    <head>
        <meta charset="UTF-8">
        <title>Github fork stats</title>
    </head>
    <body ng-controller="ForksController">
        <h1>See who has forked a Github repository</h1>
        <form ng-submit="getForks()">
            <input ng-model="user" type="text" name="user" placeholder="user">
            <input ng-model="repo" type="text" name="repo" placeholder="repository">
            <input type="submit" value="Get forks">
        </form>
        <section>
            <h2>Forks</h2>
            <ul ng-repeat="fork in forks">
                <li>{{fork.owner.login}} | {{fork.created_at | date}}</li>
            </ul>
        </section>
        <script type="text/javascript" src="lib/angular.js"></script>
        <script type="text/javascript"src="lib/angular-resource.js"></script>
        <script type="text/javascript" src="app.js"></script>   
    </body>
</html>