<!DOCTYPE html>
<html ng-app="forks">
    <head>
        <meta charset="UTF-8">
        <title>Github fork stats</title>
    </head>
    <body ng-controller="ForkController as forkCtrl" ng-submit="forkCtrl.getForks()">
        <h1>See who has forked a Github repository</h1>
        <form>
            <input ng-model="forkCtrl.search.user" type="text" name="user" placeholder="user">
            <input ng-model="forkCtrl.search.repo" type="text" name="repo" placeholder="repository">
            <input type="submit" value="Get forks">
        </form>
        <script type="text/javascript" src="lib/angular.js"></script>
        <script type="text/javascript" src="app.js"></script>   
    </body>
</html>